*.obj
*.exe
*.pdb
*.ilk
.vscode/
.vs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Testing/
ui/CTD26-main/client/build/
ui/CTD26-main/client/OpenCV_451/
server/build/
server/third_party/
coverage_client/
coverage_server/
LastCoverageResults.log
*.log